#pic {
    width: 100%;
}

#imga {
    height: 300px;
    width: 300px;

}

#navbar {
    height: 60px;
    display: block;
    position: fixed;
}

body {
    padding-top: 70px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}


