#pic {
    width: 100%;
}

#imga {
    height: 300px;
    width: 300px;

}

#navbar {
    height: 60px;
    display: block;
    position: fixed;
}

body {
    padding-top: 70px;
    background: url("/images/crm1.jpg")no-repeat;
    -webkit-background-size: 100%;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}
.name_table{
    color: #ff5722;
}
.head{
    background: gainsboro;
    position: sticky;
    top: 0;
    background: white;
}
.table_scroll{
    border: #ddd;
    height: 93%;
    display:block;
    overflow:Auto;
    background: white;;
    opacity: 0.75;
}
.table-responsive{
    height: 95%
}
.table_bth{
    text-align: right;
}
